<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<title>Please Log In</title>
</head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header">Error: Acceso Denengado!</div>
			<div class="card-body">
				<h5 class="card-title">
					Lo sentimos <span th:text="${#authentication.name}">
					</span> NO tienes permisos para acceder a este recurso
				</h5>
				<a th:href="@{/paginaInicio}" class="btn btn-outline-light" role="button">
					Ir al inicio </a>
			</div>

		</div>

	</div>




	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>